.cards_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card_item {
  /* width: 20%; */
  height: 300px;
  background-color: rgb(21, 37, 37);
  color: white;
  border: 2px solid black;
}

/* p {
  width: 50%;
} */
